@import "../../styles/_colors.scss";

.rate-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid $border-color;
  border-radius: 10px;
  padding: 2rem;
  flex-direction: column;

  @media (min-width: 650px) {
    flex-direction: row;
  }
}

.exchange-select-container {
  .css-viou3o-MuiAutocomplete-root {
    max-width: 250px;
  }
  & .MuiFormControl-root {
    margin-bottom: 1rem;
  }
}

.custom-autocomplete {
  & .MuiAutocomplete-inputRoot {
    &.Mui-focused .MuiOutlinedInput-notchedOutline {
      border-color: $main-color;
    }
  }
  & label.Mui-focused {
    color: $main-color;
  }
}

.MuiFormControl-root {
  .MuiFilledInput-root:after {
    border-bottom-color: $main-color;
  }
}
