@import "../../styles/colors";

.rate-textField-container {
  & .MuiInputBase-input-MuiOutlinedInput-input {
    padding: 8px 14px;
  }

  & .MuiFormLabel-root-MuiInputLabel-root {
    top: -6px;
  }
}

.custom-autocomplete  {
  & .MuiAutocomplete-inputRoot{
    &.Mui-focused .MuiOutlinedInput-notchedOutline {
      border-color: $main-color;
    }
  }
  & label.Mui-focused {
    color: $main-color;
  }
}





